.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}

.cart-container{
    padding: 20px;
}

.item{
    font-weight: 600;
    color: grey;
}

/*------------- search style --------*/

.search-container{
    text-align: center;
    background-color: rgb(26, 24, 4);
    line-height: 40px;
    padding: 30px;

}

.search-container input{
    width: 75%;
    height: 30px;
}